In [1]:
import pandas as pd

In [10]:
# data types in python
    # series
    # Dataframe

In [6]:
# Series (1-dimensional)

series = pd.Series(["BMW", "Toyota", "Honda"])
colours = pd.Series(["Red", "Blue", "White"])

In [8]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

colours

In [9]:
colours

0      Red
1     Blue
2    White
dtype: object

In [11]:
# data frame (2 dimensional)
car_data = pd.DataFrame({"Car Make": series, "Colour": colours})
car_data

  Car Make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White