# Introduction to Scikit-Learn (sklearn)

This notebook demonstrated some of the most useful functions of the
beautiful Scikit_learn library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow.
1. Getting the data ready
2. Choosing the right estimation/algorithm for our problem
3. Fitting the model/algorithm and using it to make predictions on our data
4. Evaluating the model
5. Improving a model
6. Saving and loading a trained model
7. Putting it all together

In [27]:
# Standard imports
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

## 0. An end-to-end Scikit-Learn Workflow

In [3]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")

heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# Create x features matric
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [8]:
# 2. choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [9]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2)

In [10]:
clf.fit(x_train, y_train)

RandomForestClassifier()

In [11]:
# make a prediction
import numpy as np
y_label = clf.predict(np.array([0,2,3,4]))

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [12]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
190,51,0,0,130,305,0,1,142,1,1.2,1,0,3
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
266,55,0,0,180,327,0,2,117,1,3.4,1,0,2
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
291,58,1,0,114,318,0,2,140,0,4.4,0,3,1

In [13]:
y_preds = clf.predict(x_test)
y_preds

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [14]:
y_test

190    0
65     1
266    0
216    0
208    0
      ..
186    0
53     1
3      1
264    0
291    0
Name: target, Length: 61, dtype: int64

In [15]:
# 4. evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [17]:
clf.score(x_test, y_test)

0.7868852459016393

In [18]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.85      0.71      0.77        31
           1       0.74      0.87      0.80        30

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.80      0.79      0.79        61

In [19]:
confusion_matrix(y_test, y_preds)

array([[22,  9],
       [ 4, 26]], dtype=int64)

In [20]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [21]:
# 5. Improve  model
# Try different amount of n_estimators

np.random.seed(42)
for i in range (10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test)*100}")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 20 estimators...
Model accuracy on test set: 81.9672131147541

Trying model with 30 estimators...
Model accuracy on test set: 77.04918032786885

Trying model with 40 estimators...
Model accuracy on test set: 78.68852459016394

Trying model with 50 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 60 estimators...
Model accuracy on test set: 77.04918032786885

Trying model with 70 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 80 estimators...
Model accuracy on test set: 78.68852459016394

Trying model with 90 estimators...
Model accuracy on test set: 78.68852459016394

In [22]:
# 6. Save  model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [24]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.7868852459016393

In [26]:
import sklearn
sklearn.show_versions()

System:
    python: 3.9.6 (default, Aug 18 2021, 15:44:49) [MSC v.1916 64 bit (AMD64)]
executable: C:\Users\beeba\Documents\DataScience\MLSample\env\python.exe
   machine: Windows-10-10.0.22000-SP0

Python dependencies:
          pip: 21.2.4
   setuptools: 52.0.0.post20210125
      sklearn: 0.24.2
        numpy: 1.20.3
        scipy: 1.7.1
       Cython: None
       pandas: 1.3.2
   matplotlib: 3.4.2
       joblib: 1.0.1
threadpoolctl: 2.2.0

Built with OpenMP: True

## 1. Getting our data ready to be used with machine learning

Three main things we have to do:

    1. Split the data into features and labels (usually 'x' and 'y')
    
    2. Filling (also called imputing) or disregarding missing values
    
    3. Convert non-numerical values to numerical ones (also called feature encoding)

In [28]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
x = heart_disease.drop("target", axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [30]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [31]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [33]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))